.serv-title{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: green;
}

.knowledge-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 40px;
    margin-bottom: 52px;
}

@media (max-width: 1024px) {
    .knowledge-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .knowledge-grid {
        grid-template-columns: 1fr;
    }
}

.article-card {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.article-card:hover {
    transform: translateY(-4px);
}

.article-image {
    width: 100%;
    height: 300px;
    object-fit: fill;
    border-radius: 20px;
    margin-bottom: 12px;
}

.learn-more {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

/* Modal เต็มจอ */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-box {
    width: 90%;
    max-width: 960px;
    background: #fff;
    border-radius: 20px;
    padding: 40px;
    position: relative;
    animation: zoomIn 0.3s ease;
    max-height: 90vh;
    overflow-y: auto;
}

.modal-box img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 20px;
}

.modal-box h2 {
    margin-bottom: 12px;
    font-size: 1.5rem;
    color: #222;
}

.modal-box p {
    font-size: 1rem;
    color: #444;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
}

.article-detail p {
  margin: 0.5rem 0;
  line-height: 1.6;
}




@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
